@charset "utf-8";
/* CSS Document */
/*
这个是候选界面，以及下面的toolbar界面，都是必需要有的
<div id="ime-houxian">
<div>字母标题</div>
<p>
候选用字
</p>
</div>
*/
h1{
	text-align: center;
	color: #FFF;
	background-color: #000;
	padding: 5px;
}
textarea{
	font-size: 24px;
	color: #000;
	height: 40%;
	width: 100%;
	margin: 5px;
	padding: 5px;
	border: medium solid #000;
	font-weight: bold;
}
#ime-houxian {
	border: thin solid #999;
	padding: 3px;
	z-index: 9999;
	background-color: white;
	display:none;
	position:relative;
}
#ime-houxian div{
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 4px;
	font-weight: bold;
	cursor:pointer;
}
#ime-houxian p{
	margin: 0px;
	padding: 3px;
	background-color: #E3E3E3;
	font-weight: bold;
	color: #000;
}
/*
这个是输入法状态栏，必需要有的
<table width="120" border="0" cellpadding="0" cellspacing="0" id="ime-toolbar">
  <tr>
    <td title="徐码简繁通打输入法">Xm</td>
    <td title="中简、中繁、英">简</td>
    <td title="全角、半角">■</td>
    <td title="中、英标点">＞</td>
  </tr>
</table>

*/
#ime-toolbar {
	border: thin solid #999;
	padding:3px;
}
#ime-toolbar td{
  height: 35px;
	cursor:pointer;
	text-align: center;
	vertical-align: middle;
	font-weight: bold;
}
/*
这是帮助界面，可以不要
<div id="dialog-message" title="输入法帮助">
<span class="uiClose">✕</span>
<div  style="text-align:center;font-size:24px;font-weight:bolder">徐码网页版输入法帮助</div>
<hr />
<p>词典功能
</p>
<p>
选取或双击想要查询的字、词，将会自动出现查询结果<br />
本功能由汉典网提供，在此表示感谢
</p>
<table width="279" height="165" border="0" cellpadding="0" cellspacing="4">
  <tr>
    <td style="text-align:center;font-weight:bolder" colspan="2">快捷键</td>
  </tr>
  <tr>
    <td width="128">CTRL+f</td>
    <td width="148">打简出繁</td>
  </tr>
  <tr>
    <td>CTRL+j</td>
    <td>打简出简</td>
  </tr>
  <tr>
    <td>CTRL+e</td>
    <td>输入出英文字符</td>
  </tr>
  <tr>
    <td>CTRL+q</td>
    <td>全角字符</td>
  </tr>
  <tr>
    <td>CTRL+b</td>
    <td>半角字符</td>
  </tr>
  <tr>
    <td>CTRL+p</td>
    <td>中英文标点切换</td>
  </tr>
  <tr>
    <td>Shift+anyNumber</td>
    <td>输出标点</td>
  </tr>
  <tr>
    <td>Shift+anyLetter</td>
    <td>输出英文大写</td>
  </tr>
      <tr>
    <td>CTRL+h</td>
    <td>显示帮助</td>
  </tr>
  <tr>
    <td>数字键</td>
    <td>选重</td>
  </tr>
  <tr>
    <td>空格键 enter键</td>
    <td>输入第一个候选字</td>
  </tr>
  <tr>
    <td>；’ 键</td>
    <td>选2，3重</td>
  </tr>
  <tr>
    <td>backspace</td>
    <td>消除字符</td>
  </tr>
</table>
<p>输入法状态栏标志</p>
输入法状态
<ul>
  <li>简：表示打简出简</li>
  <li>繁：表示打简出繁</li>
  <li>英：表示输入英文字符（可能全角英文，可能半角英文）</li>
</ul>
<p>全角半角状态</p>
<ul>
  <li>◆ ：表示全角</li>
  <li>▲ ：表示半角<br /> 
  注：只有在英文状态下，才分全角，半角字符。中文状态下，字符都是全角的</li>
</ul> 
<p>中英标点状态 </p>
<ul>
  <li>》：中文标点</li>
  <li>＞：英文标点</li>
</ul>
</div>
*/
#dialog-message {
	display: none;
	background-color: #E6E6E6;
	width: 50%;
	border: thin dashed #000;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	position: absolute;
	overflow: scroll;
}
#dialog-message .uiClose{
	cursor:pointer;
	width: 28px;
	height: 28px;
	position: relative;
	top: 0px;
	left: 0px;
	font-weight: bolder;
	text-align: center;
	vertical-align: middle;
	color: #FFF;
	background-color: #000;
}
#dialog-message table td{
	padding: 1px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: thin;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-bottom-color: black;
}

